<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
<div style="width:60%; margin:auto;">
	<form action="/add" method="get">
		<table>
			<tr>
				<td>Account ID:</td>
				<td><input name="cid" type="text" class="form-control"
					placeholder="Enter Account ID"></td>
			</tr>
			<tr>
				<td>Full Name:</td>
				<td><input name="cname" type="text" class="form-control"
					placeholder="Enter New Account Full Name"></td>
			</tr>
			<tr>
				<td>Location:</td>
				<td><input name="loc" type="text" class="form-control"
					placeholder="Enter Location"></td>
			</tr>
			<tr>
			<td></td>
				<td>
					<button type="submit" class="btn btn-secondary">Create New
						Account</button>
				</td>
			</tr>
		</table>
	</form>
	</div>
</body>
</html>